.help-section {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 110px 0px 100px;
    align-items: center;
  }
  &__title {
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 15px;
    max-width: 600px;
    text-align: center;
  }
  &__text {
    padding-bottom: 22px;
  }
}
