.nepal-section {
  &__container {
    display: flex;
    justify-content: flex-end;
    background-image: url('../../image/nepal-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
  }
  &__info {
    max-width: 240px;
    padding: 250px 106px 250px;
  }
  &__title {
    text-transform: uppercase;
  }
}
